<ul>
  <%= form_for [@category, @post], remote: true do |f| %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
    <%= f.hidden_field :page_id, value: params[:page_id] %>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :content %>
      <%= f.text_area :content  %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>
